/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Tajawal:200,300,400,500,700,800,900&display=swap&subset=arabic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
/* line 10, ../sass/screen.scss */
body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
/* line 14, ../sass/screen.scss */
body.overlay {
  transition: 0.3s;
  overflow: hidden;
}
/* line 17, ../sass/screen.scss */
body.overlay:after {
  content: "";
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

/* line 32, ../sass/screen.scss */
.bg-theme-color {
  background-color: #FEB201;
  background-image: linear-gradient(315deg, #FD9D00 0%, #FEB201 74%);
}

/* line 37, ../sass/screen.scss */
.bg-theme-color-hover {
  transition: 0.3s;
}
/* line 39, ../sass/screen.scss */
.bg-theme-color-hover:hover {
  background-image: linear-gradient(315deg, #FD9D00 0%, #FEB201 74%);
}

/* line 44, ../sass/screen.scss */
.h-screen-25 {
  height: 25vh;
}

/* line 48, ../sass/screen.scss */
.h-screen-50 {
  height: 50vh;
}

/* line 52, ../sass/screen.scss */
.h-screen-75 {
  height: 75vh;
}
@media only screen and (max-width: 991px) {
  /* line 54, ../sass/screen.scss */
  .h-screen-75.fullwidth {
    height: 100vh;
  }
}
@media only screen and (max-width: 991px) {
  /* line 59, ../sass/screen.scss */
  .h-screen-75.autoheight {
    height: auto;
  }
}

/* line 66, ../sass/screen.scss */
.h-screen-85 {
  height: 85vh;
}

/* line 70, ../sass/screen.scss */
.h-20rem {
  height: 20rem;
}

/* line 74, ../sass/screen.scss */
.border-w-trans-2 {
  border-color: rgba(255, 255, 255, 0.2);
}

/* line 78, ../sass/screen.scss */
.border-w-trans-3 {
  border-color: rgba(255, 255, 255, 0.3);
}

/* line 83, ../sass/screen.scss */
.bg-trans-8-hover:hover {
  background: rgba(0, 0, 0, 0.6);
}

/* line 89, ../sass/screen.scss */
.bg-trans-500:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/* line 100, ../sass/screen.scss */
.theme-color {
  color: #FEB201;
}
/* line 102, ../sass/screen.scss */
.theme-color a {
  color: #FEB201;
}
/* line 104, ../sass/screen.scss */
.theme-color a:hover {
  color: #FD9D00;
}
/* line 108, ../sass/screen.scss */
.theme-color:hover {
  color: #FD9D00;
}

/* line 113, ../sass/screen.scss */
.transition {
  transition: 0.3s;
}

/* line 117, ../sass/screen.scss */
.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* line 121, ../sass/screen.scss */
.text-shadow-light {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* line 125, ../sass/screen.scss */
.home-header-cover {
  background-color: #FEB201;
  background-image: linear-gradient(190deg, #FEB201 0%, #f89a00 100%);
  overflow: hidden;
}

/* line 131, ../sass/screen.scss */
.circle-color {
  right: -15%;
  bottom: -15%;
  width: 100vh;
  height: 100vh;
  background: #FFC000;
  border-radius: 50%;
}
@media only screen and (max-width: 1300px) {
  /* line 131, ../sass/screen.scss */
  .circle-color {
    right: -15%;
    bottom: -15%;
    width: 100vh;
    height: 100vh;
    border-radius: 50% 50% 0% 50%;
  }
}
@media only screen and (max-width: 991px) {
  /* line 131, ../sass/screen.scss */
  .circle-color {
    right: -15%;
    bottom: -15%;
    width: 70vh;
    height: 70vh;
    border-radius: 50%;
  }
}

/* line 154, ../sass/screen.scss */
.dropdown-inner {
  opacity: 0;
  z-index: -1;
  transition: all .2s ease-in-out;
}
/* line 159, ../sass/screen.scss */
.dropdown-inner li a {
  border-bottom: 1px solid rgba(203, 203, 203, 0.173);
}
/* line 163, ../sass/screen.scss */
.dropdown-inner li:last-child a {
  border-bottom: none;
}

/* line 170, ../sass/screen.scss */
.navbar-top-links-dropdown-wrapper {
  cursor: pointer;
}
/* line 173, ../sass/screen.scss */
.navbar-top-links-dropdown-wrapper:hover .dropdown-inner {
  transform: scale(1.1);
  opacity: 1;
  z-index: 11;
}

/* line 181, ../sass/screen.scss */
.megamenu-wrapper {
  top: 100%;
  left: 0px;
  width: 700px;
  background-color: white;
  opacity: 0;
  z-index: -11;
  visibility: hidden;
  transition: all .2s ease-in-out;
  position: absolute;
}
/* line 191, ../sass/screen.scss */
.megamenu-wrapper .megamenu {
  background: url(../../images/resturent.png) repeat center;
}
/* line 194, ../sass/screen.scss */
.megamenu-wrapper .megamenu li a {
  font-weight: 500;
}
@media only screen and (max-width: 991px) {
  /* line 181, ../sass/screen.scss */
  .megamenu-wrapper {
    position: fixed;
    top: inherit;
    width: 100%;
    bottom: -400px;
    left: 0px;
    z-index: 11;
  }
}

/* line 209, ../sass/screen.scss */
.megamenu-active {
  transform: scale(1.1);
  opacity: 1;
  z-index: 11;
  visibility: visible;
}
@media only screen and (max-width: 991px) {
  /* line 209, ../sass/screen.scss */
  .megamenu-active {
    transform: scale(1);
    bottom: 0px;
  }
}

/* line 220, ../sass/screen.scss */
.top-cover-swiper-container {
  margin: 0px;
}

/* line 224, ../sass/screen.scss */
.top-cover-swiper-slide {
  width: 100% !important;
}

/* line 233, ../sass/screen.scss */
.swiper-pagination-clickable .swiper-pagination-bullet {
  background: none;
}
/* line 235, ../sass/screen.scss */
.swiper-pagination-clickable .swiper-pagination-bullet:active {
  outline: none;
}
/* line 238, ../sass/screen.scss */
.swiper-pagination-clickable .swiper-pagination-bullet:focus {
  outline: none;
}

/* line 243, ../sass/screen.scss */
.cover-swiper-pagination {
  text-align: center;
}
/* line 245, ../sass/screen.scss */
.cover-swiper-pagination .swiper-pagination-bullet {
  background: none;
  margin-left: 5px;
  font-size: 18px;
  width: 30px;
  height: 30px;
  line-height: 26px;
  color: black;
  opacity: 1;
  font-weight: 500;
}
/* line 256, ../sass/screen.scss */
.cover-swiper-pagination .swiper-pagination-bullet-active {
  border: 1.5px solid white;
  color: white;
}

/* line 262, ../sass/screen.scss */
.swiper-button-prev,
.swiper-button-next {
  -webkit-writing-mode: vertical-lr;
  -moz-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  background: transparent;
  transform: rotate(360deg);
  color: black;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 275, ../sass/screen.scss */
.swiper-button-prev:active,
.swiper-button-next:active {
  outline: none;
}
/* line 278, ../sass/screen.scss */
.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline: none;
}
/* line 281, ../sass/screen.scss */
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}
/* line 287, ../sass/screen.scss */
.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
  margin-top: 7px;
}

/* line 297, ../sass/screen.scss */
.swiper-button-next:after {
  transform: rotate(360deg);
  margin-top: 15px;
  margin-left: 5px;
}

/* line 304, ../sass/screen.scss */
.swiper-button-prev {
  -webkit-writing-mode: vertical-lr;
  -moz-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  background: transparent;
  transform: rotate(180deg);
}
/* line 311, ../sass/screen.scss */
.swiper-button-prev:after {
  transform: rotate(180deg);
  margin-top: 15px;
  margin-left: 5px;
}

/* line 318, ../sass/screen.scss */
.slide-img {
  box-shadow: 5px 5px 20px 5px #00000063;
  border-radius: 50%;
  overflow: hidden;
}

/* line 325, ../sass/screen.scss */
.featured-item {
  transition: 0.3s;
  border: 1px solid transparent;
}
/* line 328, ../sass/screen.scss */
.featured-item .featured-item-title {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
}
/* line 336, ../sass/screen.scss */
.featured-item .featured-item-price {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
}
/* line 344, ../sass/screen.scss */
.featured-item:hover {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.03);
}
/* line 347, ../sass/screen.scss */
.featured-item:hover .featured-item-title {
  top: 20px;
  opacity: 1;
}
/* line 351, ../sass/screen.scss */
.featured-item:hover .featured-item-price {
  bottom: 20px;
  opacity: 1;
}

/* line 362, ../sass/screen.scss */
.news-shadow {
  box-shadow: -12px 2px 11px 5px rgba(0, 0, 0, 0.03), 11px -8px 14px 0px rgba(0, 0, 0, 0.03);
}

/* line 366, ../sass/screen.scss */
.news-swiper-button-next {
  right: -45px;
  top: 35px;
}

/* line 371, ../sass/screen.scss */
.news-swiper-button-prev {
  left: -45px;
  top: 35px;
}

/* line 382, ../sass/screen.scss */
.partner-swiper-wrapper .swiper-slide {
  background-color: rgba(0, 0, 0, 0.04);
}
/* line 384, ../sass/screen.scss */
.partner-swiper-wrapper .swiper-slide img {
  filter: grayscale(1);
  transition: 0.3s;
}
/* line 389, ../sass/screen.scss */
.partner-swiper-wrapper .swiper-slide:hover img {
  filter: grayscale(0);
}

/* line 404, ../sass/screen.scss */
.swal2-container.swal2-top-left,
.swal2-container.swal2-top-start {
  justify-content: center !important;
}

/* line 409, ../sass/screen.scss */
.swal2-popup {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(190deg, #FEB201 0%, #b16e00 100%) !important;
}
/* line 414, ../sass/screen.scss */
.swal2-popup .swal2-title {
  color: black;
  text-align: left;
  margin: 0px !important;
}
/* line 419, ../sass/screen.scss */
.swal2-popup .swal2-styled.swal2-confirm {
  background-image: linear-gradient(190deg, #FEB201 0%, #b16e00 100%) !important;
}
/* line 422, ../sass/screen.scss */
.swal2-popup .swal2-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  font-family: sans-serif;
}

/* line 431, ../sass/screen.scss */
.filtermenu-side {
  left: -900px;
  transition: 0.3s;
  /* Handle */
  /* Handle on hover */
}
/* line 434, ../sass/screen.scss */
.filtermenu-side.active {
  left: 0px;
}
@media only screen and (max-width: 991px) {
  /* line 431, ../sass/screen.scss */
  .filtermenu-side {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 17px -11px 15px 5px rgba(0, 0, 0, 0.04);
  }
}
/* line 440, ../sass/screen.scss */
.filtermenu-side::-webkit-scrollbar {
  width: 0px;
}
/* line 443, ../sass/screen.scss */
.filtermenu-side::-webkit-scrollbar-track {
  background: white;
}
/* line 447, ../sass/screen.scss */
.filtermenu-side::-webkit-scrollbar-thumb {
  background: lightgray;
}
/* line 451, ../sass/screen.scss */
.filtermenu-side::-webkit-scrollbar-thumb:hover {
  background: gray;
}
